.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: transparent;
}

.scroll-top__btn {
  color: var(--clr-fg);
}

@media (max-width: 900px) {
  .scroll-top {
    display: none;
  }
}
